#statistics-table{
  margin-top: 10px;
  transition: opacity 0.3s ease;
}
#statistics-table:not(.complete){
  opacity: 0.5;
}

#fixed-labels{
  position: fixed;
  top: 0;
  width: calc(76vw + 1px);
  margin: 0px 12vw;
  border-bottom: 2px solid #aaa;
  border-top: 20px solid #eee;
  display: none;
}
#fixed-labels .row .item:nth-last-child(0n+1){
  border-right: none;
}

.full-width-table .row { min-width: 935px; }
.full-width-table .statHero{ width: 19vw; min-width: 120px; }
#statistics-table :not(.labels) .statHero{ font-weight: 600; color: #359; }
.full-width-table .statGamesPicked{ width: 9vw; min-width: 43px; }
.full-width-table .statGamesBanned{ width: 9vw; min-width: 43px; }
.full-width-table .statGamesWon{ width: 9vw; min-width: 43px; }
.full-width-table .statPickRate{ width: 10vw; min-width: 51px; }
.full-width-table .statBanRate{ width: 10vw; min-width: 51px; }
.full-width-table .statWinRate{ width: 10vw; min-width: 51px; }
#statistics-table .row:not(.labels){ box-shadow: inset 3px 0 0 #359; cursor: pointer; }
#statistics-table .row:not(:hover){ box-shadow: inset 3px 0 0 transparent; }

.sort{
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.sort:hover{
  background-color: #ddd;
}
.sort span{
  position: absolute;
}
.sort:not(.active):hover:after{
  content: ' ';
  width: 0;
  height: 0;
  margin: 6px 0 0 calc(100% - 12px);
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #444 transparent;
  opacity: 0.5;
}
.sort.active:after{
  content: ' ';
  width: 0;
  height: 0;
  margin: 6px 0 0 calc(100% - 12px);
  border-style: solid;
  border-color: #444 transparent;
}
.normal .sort.active:after{
  border-width: 6px 6px 0 6px;
}
.reverse .sort.active:after{
  border-width: 0 6px 6px 6px;
}

#hero-stat-table{
  margin-top: 40px;
}
.hero-banner{
  width: 100%;
  min-height: 152px;
  display: flex;
  flex-direction: row;
}
#hero-portrait{
  width: 152px;
  height: 152px;
  margin-right: 10px;
}
#hero-portrait img{
  width: 152px;
  height: 152px;
}
.hero-info{
  background-color: #ddd;
  min-height: 112px;
  padding: 20px;
  flex-grow: 1;
}
.hero-title{
  font-size: 22px;
  font-family: 'Exo', sans-serif;
  text-transform: uppercase;
  color: #444;
}
.hero-title .subgroup{
  margin-left: 10px;
  color: #888;
}

#hero-details{
  margin-top: 20px;
  transition: opacity 0.3s ease;
}
#hero-details:not(.complete){
  opacity: 0;
}
.hero-info-table{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% + 20px);
  margin-top: 14px;
  margin-bottom: -20px;
}
.hero-info-table .hero-info-block{
  display: inline-block;
  flex-grow: 1;
  margin: 0px 20px 20px 0px;
  min-width: 180px;
  height: 49px;
  padding: 10px;
  background-color: #eee;
  text-align: center;
  cursor: pointer;
}
.hero-info-block .hero-info-block-label{
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444;
  transition: color 0.3s ease;
}
.hero-info-block:hover .hero-info-block-label{
  color: #359;
}
.hero-info-block .hero-info-block-value{
  font-family: 'Exo', sans-serif;
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
  color: #444;
  transition: color 0.3s ease;
}
.hero-info-block:hover .hero-info-block-value{
  color: #359;
}

.hero-details-nav{
  display: flex;
  flex-direction: row;
  width: calc(100% + 10px);
  justify-content: space-between;
}
.hero-details-nav .details-nav-button{
  display: inline-block;
  width: 100px;
  min-width: 100px;
  margin: 0px 10px 17px 0px;
  padding: 10px;
  border-bottom: 3px solid #eee;
  flex-grow: 1;
  background-color: #ddd;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #444;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
.hero-details-nav .details-nav-button.selected{
  background-color: #ccc;
  border-bottom: 3px solid #359;
}
.hero-details-nav .details-nav-button:hover{
  background-color: #ccc;
}
.hero-details-target:not(.selected){
  display: none;
}

#talents, #maps, #matchups{
  margin-bottom: 100px;
}

#talents{
  width: 100%;
  flex-direction: column;
}
#talents.selected{
  display: flex;
}
#talents .talent-tier{
  display: flex;
  width: calc(100% - 50px);
  flex-direction: row;
  padding: 25px;
  overflow-x: auto;
  margin-bottom: 20px;
}
#talents .talent-tier:nth-child(odd){
  background-color: #e4e4e4;
}
#talents .talent-tier .label{
  height: 20px;
  padding: 15px;
  background-color: #ddd;
  font-family: 'Exo', sans-serif;
  font-size: 15px;
  color: #444;
  text-transform: uppercase;
}
#talents .talent-tier:nth-child(odd) .label{
  background-color: #ccc;
}
#talents .talent-tier .level{
  height: 20px;
  width: 20px;
  margin-right: 10px;
  padding: 15px;
  background-color: #ccc;
  font-family: 'Exo', sans-serif;
  font-size: 15px;
  color: #444;
  text-align: center;
}
#talents .talent-tier:nth-child(odd) .level{
  background-color: #bbb;
}
#talents .talent-tier.heroic .label{
  background-color: #359;
  color: #fff;
}
#talents .talent-tier.heroic .level{
  background-color: #444;
  color: #fff;
}
#talents .talent-tier .talent-list{
  display: flex;
  flex-direction: column;
  width: 100%;
}
#talents .talent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% + 10px);
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #444;
}
#talents .talent:nth-last-child(0n+1){
  margin-bottom: 0px;
}
#talents .talent .name{
  display: inline-block;
  margin-right: 5px;
  width: 250px;
  height: 20px;
  min-width: 180px;
  padding: 15px;
  overflow: hidden;
  background-color: transparent;
  text-align: right;
  font-weight: 600;
  text-transform: uppercase;
  color: #444;
}
#talents .talent .stat{
  display: inline-block;
  flex-grow: 1;
  margin-right: 5px;
  width: 200px;
  min-width: 200px;
  padding: 15px;
}
#talents .talent .stat .tlabel{
  font-weight: 600;
  text-transform: uppercase;
}
#talents .talent .stat .value{
  float: right;
  margin-right: 5px;
}

#maps{
  background-color: #e4e4e4;
  width: calc(100% - 50px);
  padding: 25px;
}
#maps .map{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% + 10px);
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #444;
}
#maps .map .name{
  display: inline-block;
  margin-right: 5px;
  width: 250px;
  height: 20px;
  min-width: 180px;
  padding: 15px;
  overflow: hidden;
  background-color: transparent;
  font-weight: 600;
  text-align: right;
  text-transform: uppercase;
  color: #444;
}
#maps .map .stat{
  display: inline-block;
  flex-grow: 1;
  margin-right: 5px;
  width: 200px;
  min-width: 200px;
  padding: 15px;
}
#maps .map .stat .mlabel{
  font-weight: 600;
  text-transform: uppercase;
}
#maps .map .stat .value{
  float: right;
  margin-right: 5px;
}

#matchups{
  width: 100%;
  flex-direction: row;
  margin-bottom: 20px;
}
#matchups.selected{
  display: flex;
}
#matchups .enemyMatchups, #matchups .friendlyMatchups{
  display: flex;
  flex-direction: column;
  width: calc(50% - 5px);
}
#matchups .hero, #matchups .label{
  display: flex;
  background-color: #ddd;
  margin-bottom: 10px;
  padding: 10px 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #444;
  overflow: hidden;
}
#matchups .hero .name{
  font-family: 'Exo', sans-serif;
  text-transform: uppercase;
  width: 35%;
}
#matchups .hero .winrate{
  font-weight: 600;
  width: 52px;
  text-align: right;
}
#matchups .label{
  color: #fff;
}
#matchups .enemyMatchups .label{
  flex-direction: row-reverse;
}
#matchups .label .name{
  text-transform: uppercase;
  font-weight: 600;
}
#matchups .enemyMatchups .label .name{
  text-align: right;
}
#matchups .friendlyMatchups{
  margin-right: 5px;
}
#matchups .enemyMatchups{
  margin-left: 5px;
}
#matchups .friendlyMatchups .hero{
  border-left: 3px solid #55b;
}
#matchups .enemyMatchups .hero{
  border-right: 3px solid #b55;
  flex-direction: row-reverse;
}
#matchups .enemyMatchups .hero .name, #matchups .enemyMatchups .hero .winrate{
  text-align: right;
}
#matchups .friendlyMatchups .label{
  background-color: #55b;
}
#matchups .enemyMatchups .label{
  background-color: #b55;
  text-align: right;
}

.replay-banner{
  width: 100%;
  height: 237px;
  margin-top: 40px;
  margin-bottom: -60px;
  background-position: center;
  background-size: cover;
}
.replay-map-header{
  padding: 20px;
  line-height: 20px;
  font-size: 20px;
  font-family: 'Exo', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.5);
}

.replay-stat-level-bar{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 30px;
}
.replay-stat-level-bar .replay-stat{
  display: inline-block;
  flex-grow: 1;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
.replay-stat-level-bar .blue{
  background-color: #55b;
}
.replay-stat-level-bar .red{
  background-color: #b55;
}
.replay-stat-level-bar .red .label, .replay-stat-level-bar .blue .value{
  float: right;
}
.replay-stat-level-bar .value{
  margin: 0px 10px;
}
.replay-stat-level-bar .separator{
  display: inline-block;
  width: 5px;
  height: 40px;
  background-color: #444;
}

.replay-stat-heading{
  width: calc(100% - 20px);
  margin-bottom: 10px;
  text-align: center;
  background-color: #444;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
}

#replay-draft{
  display: none;
}
.replay-players, .replay-draft{
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 20px;
}
.replay-players .team, .replay-draft .team{
  display: flex;
  flex-direction: column;
  width: calc(50% - 5px);
}
.replay-players .player, .replay-draft .ban{
  display: flex;
  background-color: #ddd;
  margin-bottom: 10px;
  padding: 10px 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #444;
  overflow: hidden;
}
.replay-players .player{
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.replay-players .player:hover{
  background-color: #ccc;
}
.replay-players .player.selected{
  color: #fff;
}
.replay-players .replayHero, .replay-draft .replayHero{
  font-family: 'Exo', sans-serif;
  text-transform: uppercase;
  width: 35%;
}
.replay-players .replayBattleTag{
  width: calc(65% - 38px);
}
.replay-players .replayMVP{
  font-weight: 600;
  color: #888;
  transition: color 0.3s ease;
}
.replay-players .player.selected .replayMVP{
  color: #fff;
}
.replay-players #team0players, .replay-draft #team0draft{
  margin-right: 5px;
}
.replay-players #team1players, .replay-draft #team1draft{
  text-align: right;
  margin-left: 5px;
}
.replay-players #team0players .player, .replay-draft #team0draft .ban{
  border-left: 3px solid #55b;
}
.replay-players #team1players .player, .replay-draft #team1draft .ban{
  border-right: 3px solid #b55;
  flex-direction: row-reverse;
}
.replay-players #team0players .player.selected{
  background-color: #55b;
}
.replay-players #team1players .player.selected{
  background-color: #b55;
}
.replay-draft .fa{
  font-size: 18px;
  -webkit-text-stroke: 2px #ddd;
  text-stroke: 2px #ddd;
}
.replay-draft #team0draft .fa{
  margin-right: 10px;
  color: #55b;
}
.replay-draft #team1draft .fa{
  margin-left: 10px;
  color: #b55;
}

.player-details-list{
  min-height: 200px;
  margin-bottom: 100px;
}
.playerDetails{
  display: none;
}
.playerDetails.selected{
  display: block;
}
.replay-player-heading, .replay-player-subheading{
  width: calc(100% - 20px);
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
}
.replay-player-heading.team0{
  background-color: #55b;
}
.replay-player-heading.team1{
  background-color: #b55;
}
.replay-player-subheading{
  background-color: #bbb;
  margin-top: 20px;
  color: #444;
}
.replay-player-heading:not(:nth-child(0n+1)){
  margin-top: 20px;
}
