<% include ../public/partials/header %>

<div class='page-content'>
  <div class='page-heading'>
    Frequently Asked Questions
  </div>

  <div class='page-info question' id='doubloons'>
    What are Doubloons?
  </div>
  <div class='page-info answer'>
    Doubloons are the most valuable trading commodity in the Nexus, even more valuable than reddit karma.
    You can earn doubloons by submitting replays to Gazlowe, or by making good investments in the <a class='bold' href='#exchange'>GAZDANQ exchange</a>.
  </div>
  <div class='page-info question' id='exchange'>
    What is GAZDANQ?
  </div>
  <div class='page-info answer'>
    GAZDANQ gives armchair game theory experts the opportunity to buy and sell shares of HotS Heroes.
    It's totally not a ponzi scheme and anyone who says so will have their pants set on fire.
  </div>
</div>

<% include ../public/partials/footer %>
