<% include ../public/partials/header %>

<div class='page-content centered'>
  <div class='page-large-title'>
    Welcome to Gazlogs
  </div>
  <div class='page-info'>
    Under Construction
    <br>
    Go upload some stuff for me, thanks
  </div>
</div>

<% include ../public/partials/footer %>
