<% include ../public/partials/header %>

<div class='page-content centered'>
  <div class='page-padding-block'></div>
  <div class='page-large-title'>
    Coming Soon
  </div>
  <div class='page-info'>
    You're all losers anyway
  </div>
</div>

<% include ../public/partials/footer %>
