<% include ../public/partials/header %>

<div class='page-content'>
  <div class='page-heading'>
    Log In with Battle.net
  </div>
  <div class='page-info'>
    Our login system uses Blizzard authentication to help create and manage your account.
    <br>
    If this is your first time, you will be asked to give us permission to link your Battle.net account.
    <br><br>
    By logging in, you agree with our <a href=''>Terms of Service</a> and <a href=''>Privacy Policy</a>.
  </div>
  <br>
  <a href='/auth/nydus'>
    <div class='button'>
      Link my Battle.net account
    </div>
  </a>
</div>

<% include ../public/partials/footer %>
