<% include ../public/partials/header %>

<div class='page-content'>
  <div class='page-heading'>
    <%= auth.username %> #<%= auth.battletag %>
  </div>
</div>

<% include ../public/partials/footer %>
