<% include ../public/partials/header %>

<div class='page-content'>

  <div class='replay-banner' id='map-banner'></div>
  <div class='replay-map-header' id='map'></div>

  <div class='page-heading divider'>
    <span id='gametype'></span>
    <div class='right' id='date'></div>
  </div>

  <div class='stat-table'>
    <div class='stat'>
      <span class='label'>Build</span>
      <span class='value' id='build'></span>
    </div>
    <div class='stat'>
      <span class='label'>Region</span>
      <span class='value' id='region'></span>
    </div>
    <div class='stat'>
      <span class='label'>Average ELO</span>
      <span class='value'>1200</span>
    </div>
    <div class='stat'>
      <span class='label'>Duration</span>
      <span class='value' id='duration'></span>
    </div>
  </div>
  <div class='replay-stat-level-bar'>
    <div class='replay-stat blue' id='level-blue'>
      <span class='label'>Level</span>
      <span class='value' id='team0level'></span>
    </div>
    <div class='separator'></div>
    <div class='replay-stat red' id='level-red'>
      <span class='label'>Level</span>
      <span class='value' id='team1level'></span>
    </div>
  </div>

  <div id='replay-draft'>
    <div class='replay-stat-heading'>
      Draft Bans
    </div>
    <div class='replay-draft'>
      <div class='team' id='team0draft'>
        <div class='row ban'>
          <i class='fa fa-times' aria-hidden='true'></i>
          <div class='replayHero' id='team0ban1'></div>
        </div>
        <div class='row ban'>
          <i class='fa fa-times' aria-hidden='true'></i>
          <div class='replayHero' id='team0ban2'></div>
        </div>
      </div>
      <div class='team' id='team1draft'>
        <div class='row ban'>
          <i class='fa fa-times' aria-hidden='true'></i>
          <div class='replayHero' id='team1ban1'></div>
        </div>
        <div class='row ban'>
          <i class='fa fa-times' aria-hidden='true'></i>
          <div class='replayHero' id='team1ban2'></div>
        </div>
      </div>
    </div>
  </div>

  <div class='replay-stat-heading'>
    Players
  </div>
  <div class='replay-players'>
    <div class='team' id='team0players'></div>
    <div class='team' id='team1players'></div>
  </div>

  <div class='playerDetails selected'>
    <div class="replay-player-subheading">Click on a player to view statistics</div>
  </div>
  <div class='player-details-list' id='player-details-list'></div>

</div>

<% if(locals.params){ %>
  <script>
    var params = <%- JSON.stringify(params) %>;
  </script>
<% } %>

<script type='text/javascript' src='/js/dictionary.js'></script>
<script type='text/javascript' src='/js/replay.js'></script>

<% include ../public/partials/footer %>
