<% include ../public/partials/header %>

<div class='page-content centered'>
  <div class='page-padding-block'></div>
  <div class='page-large-title'>
    Replay Not Found
  </div>
  <div class='page-info'>
    Nice try, but there ain't anything here, pal!
    <br><br>
    <a href='/'>Go Home</a>
  </div>
</div>

<% include ../public/partials/footer %>
