<% include ../public/partials/header %>

<div id='gazlowe'>
  <img src='/img/gazlowe.png'>
</div>

<div class='page-content'>
  <div class='page-heading'>
    Upload Replays
  </div>
  <div class='page-info'>
    Upload HotS replays to be added to our database!
    <br/>
    Gazlowe will reward you with doubloons for each new replay you upload. Don't ask where he got them ;)
    <br/>
    <a href='/faq#doubloons' target='_blank' class='small'>
      What are doubloons?
      <i class='fa fa-external-link' aria-hidden='true'></i>
    </a>
  </div>

  <div class='doubloon-table'>
    <div class='labels row'>
      <div class='item'>Game Mode</div>
      <div class='item'>Value</div>
    </div>
    <div class='row'>
      <div class='item'>Quick Match</div>
      <div class='item'>50 doubloons</div>
    </div>
    <div class='row'>
      <div class='item'>Unranked Draft</div>
      <div class='item'>100 doubloons</div>
    </div>
    <div class='row'>
      <div class='item'>Hero League</div>
      <div class='item'>100 doubloons</div>
    </div>
    <div class='row'>
      <div class='item'>Team League</div>
      <div class='item'>125 doubloons</div>
    </div>
    <div class='row'>
      <div class='item'>other</div>
      <div class='item'>nothing</div>
    </div>
  </div>

  <div class='page-info small'>
    Location of replay files:
    <br/>
    Windows: ...\Documents\Heroes of the Storm\Accounts\###\#Hero#\Replays\
    <br/>
    Mac: ~/Library/Application Support/Blizzard/Heroes of the Storm/Accounts/###/#Hero#/Replays/
  </div>

  <div class='upload-form'>
    <form method='post' action='upload' enctype='multipart/form-data' id='upload-form'>
      <input type='file' name='replays' id='upload-box' accept='.StormReplay' multiple class='inputfile'/>
      <label for='upload-box' id='upload-label' class='button'>Choose Files</label>
      <div id='file-drag-box'>(Or Drag Here)</div>
    </form>
  </div>

</div>

<div id='modals'>

  <div id='upload-modal'>

    <div class='modal-nav'>
      <div class='modal-nav-button modal-exit'>
        <i class='fa fa-times' aria-hidden='true'></i>
      </div>
    </div>

    <div class='modal-title'>
      Uploading Replays...
    </div>

    <div id='modal-load-above'>
      uploading 0 / 0
    </div>
    <div class='modal-load-icon' id='modal-load-spinner'>
      <div class='spinner'></div>
    </div>
    <div class='modal-load-icon' id='modal-load-complete'>
      <i class='fa fa-check' aria-hidden='true'></i>
    </div>
    <div class='modal-load-icon' id='modal-load-error'>
      <i class='fa fa-times' aria-hidden='true'></i>
    </div>
    <div id='modal-load-below'>
      filename
    </div>

    <div class='modal-table' id='modal-upload-table'>
      <div class='labels row'>
        <div class='item'>results</div>
        <div class='item'>doubloons</div>
      </div>
      <div id='upload-results'>
      </div>
      <div id='modal-upload-total' class='row'>
        <div class='item'>total</div>
        <div class='item hover-hide'>
          <span id='modal-upload-doubloon-total'>0</span>
          <i class='fa fa-circle coin' aria-hidden='true'></i>
        </div>
        <div class='item hover-reveal'>
          (<span id='modal-upload-replay-total'></span> Replay<span id='modal-upload-replay-petty-s'>s</span>)
        </div>
      </div>
    </div>

    <div class='gazlowe-quote-wrapper' id='gazlowe-quote-wrapper'>
      <div class='fa fa-quote-left' aria-hidden='true'></div>
      <div class='gazlowe-quote'>
        <span id='gazlowe-quote'>Kid, I hate to break it to ya, but you're a huge disappointment.</span>
        <div class='quote-credit'> - Gazlowe</div>
      </div>
      <div class='fa fa-quote-right' aria-hidden='true'></div>
    </div>

    <div class='modal-form' id='modal-form'>
      <div class='modal-upload-button modal-exit' id='modal-upload-accept'></div>
    </div>

  </div>

</div>

<script src='https://cdn.socket.io/socket.io-1.4.5.js'></script>
<script type='text/javascript' src='/js/uploader.js'></script>

<% include ../public/partials/footer %>
